In [1]:
import pandas as pd

# Built-in Types and Operations

- Assignment
- Truth and Boolean operations
- Numeric
- Coercion
- Sequence
- Set
- Dictionary
- Further reading

For more, visit the standard library documentation on built-in types:
https://docs.python.org/3.6/library/stdtypes.html

## Assignment

In [2]:
a = 42

In [3]:
print(a)

42

## Truth and Boolean operations

### Types
- None
- True
- False

### Boolean Operations
- not
- and
- or
- if else

### Comparison
- ==, !=
- \>, >=, <, <=
- is, is not

In [4]:
print(not True)

False

In [5]:
print(True and False)

False

In [6]:
print(True or False)

True

In [7]:
print(True if False else not True)

False

In [8]:
truth_table = [
    [True, True, True and True, True or True, True if True else False],
    [True, False, True and False, True or False, True if False else False],
    [False, True, False and True, False or True, False if True else True],
    [False, False, False and False, False or False, False if False else True]
]
truth_table_df = pd.DataFrame(truth_table)
truth_table_df.columns = ['P', 'Q', 'and', 'or', 'if']
truth_table_df.set_index(['P', 'Q'])

               and     or     if
P     Q
True  True    True   True   True
      False  False   True  False
False True   False   True  False
      False  False  False   True

Several values will be interpreted as false for truth value testing:
- False
- None
- zero
- empty sequences and maps

In [9]:
None or True

True

In [10]:
0 and True

0

However, **these values are not equivalent.** They have different semantic values.

In [11]:
print(None == False == 0 == [])

False

In [12]:
print(1 > 0)

True

In [13]:
print(True > False)

True

In [14]:
print(1 == 1.0)

True

In [15]:
print(1 is 1.0)

False

In [16]:
a = 1
b = 1.0
a is not b

True

Explain:

In [17]:
print(None is not True)

True

## Numeric

### Types
- int
- float

### Type checking

In [18]:
type(3.14)

float

In [19]:
type(3.14) == float

True

In [20]:
type(42)

int

In [21]:
type(42.0)

float

In [22]:
42 == 42.0

True

### Operator precedence
- ** (unary)
- \+ (unary), \- (unary)
- *, /, %, //
- +, -

Evaluate:

In [23]:
2**2 + -2 * 4 / 2 + 2

2.0

Why is this a float?

Evaluate:

In [24]:
a = 2
a + 2

4

Explain:

In [25]:
a

2

In [26]:
a = a + 2
a

4

In [27]:
a += 2
a

6

### Built-in function operations

In [28]:
abs(-42)

42

In [29]:
divmod(10, 3)

(3, 1)

In [30]:
pow(3, 2)

9

In [31]:
round(3.1415926535897932385, 2)

3.14

### The math module

https://docs.python.org/3.6/library/math.html

In [32]:
import math

print(math.pi)
print(round(math.degrees(0.785398163397)))

3.141592653589793
45

There are more numerical and mathematical modules worth looking at on your own time:

https://docs.python.org/3.6/library/numeric.html

## Coercion

In [33]:
a = 42
print(type(a), a)

<class 'int'> 42

In [34]:
a = float(a)
print(type(a), a)

<class 'float'> 42.0

In [35]:
a = int(a)
print(type(a), a)

<class 'int'> 42

In [36]:
a = 42
print(type(a), a)
a = str(a)
print(type(a), a)
a = int(a)
print(type(a), a)

<class 'int'> 42
<class 'str'> 42
<class 'int'> 42

## Sequence

### Types
- list
- tuple
- string

In [37]:
alist = []
atuple = ()

In [38]:
alist.append('zero')
alist

['zero']

In [39]:
alist += ['one', 2, 3.14, 'four', [1, 1, 'spam', 1, 1]]
alist

['zero', 'one', 2, 3.14, 'four', [1, 1, 'spam', 1, 1]]

In [40]:
['one', 'two', 'three'] * 2

['one', 'two', 'three', 'one', 'two', 'three']

### Slicing and Indexing

In [41]:
alist[0]

'zero'

In [42]:
alist[5]

[1, 1, 'spam', 1, 1]

In [43]:
alist[-1]

[1, 1, 'spam', 1, 1]

Slicing can fetch from an index up to **but not including** an index:

In [44]:
alist[1:4]

['one', 2, 3.14]

Slicing can also fetch in steps:

In [45]:
alist[1:4:2]

['one', 3.14]

Evaluate:

In [46]:
alist[5][-3]

'spam'

In [47]:
board = [['a1', 'a2', 'a3'], ['b1', 'b2', 'b3'], ['c1', 'c2', 'c3']]
board[2][2]

'c3'

### Immutability of tuples

In [48]:
# atuple.append(0)

In [49]:
atuple = ('first', 'second', 'third')
atuple[0]

'first'

NOTE: Single item tuples must be instantiated with a comma after the single item, as in the slicing result below.

In [50]:
atuple[0:1]

('first',)

### Unpacking tuples

In [51]:
a, b, c = atuple
print(a)
print(b)
print(c)

first
second
third

### Zipping tuples from lists

In [52]:
blist = ['one', 'two', 'three']
list(zip(blist, [1, 2, 3], [0, 1, 2]))

[('one', 1, 0), ('two', 2, 1), ('three', 3, 2)]

### Finding items in a sequence without an index

In [53]:
alist

['zero', 'one', 2, 3.14, 'four', [1, 1, 'spam', 1, 1]]

In [54]:
alist.remove(3.14)
alist

['zero', 'one', 2, 'four', [1, 1, 'spam', 1, 1]]

In [55]:
'first' in atuple

True

In [56]:
[1, 1, 'spam', 1, 1] not in alist

False

In [57]:
alist.index('four')

3

### Built-in function operations

In [58]:
len(alist)

5

In [59]:
btuple = (0, 4, 2, 26, -1)
min(btuple)

-1

Explain:

In [60]:
print(alist)
# print(max(alist))

['zero', 'one', 2, 'four', [1, 1, 'spam', 1, 1]]

### Sequence methods

In [61]:
alist[4].count('spam')

1

In [62]:
alist.insert(2, 'and now for something completely different')
alist

['zero',
 'one',
 'and now for something completely different',
 2,
 'four',
 [1, 1, 'spam', 1, 1]]

In [63]:
alist.pop(2)

'and now for something completely different'

In [64]:
alist

['zero', 'one', 2, 'four', [1, 1, 'spam', 1, 1]]

In [65]:
alist.remove('one')
alist

['zero', 2, 'four', [1, 1, 'spam', 1, 1]]

In [66]:
alist.reverse()
alist

[[1, 1, 'spam', 1, 1], 'four', 2, 'zero']

In [67]:
clist = [5511, 232, 51, 523]
clist.sort()
clist

[51, 232, 523, 5511]

### String

In [68]:
astring = 'I will not have my fwiends widiculed by the common soldiewy'

In [69]:
astring += '!'
astring

'I will not have my fwiends widiculed by the common soldiewy!'

In [70]:
astring[27:35]

'widicule'

In [71]:
astring.count('w')

4

In [72]:
astring.count('r')

0

In [73]:
astring = astring.replace('w', 'r')
astring

'I rill not have my friends ridiculed by the common soldiery!'

In [74]:
'rill' in astring

True

In [75]:
astring = astring.replace('rill', 'will')
astring

'I will not have my friends ridiculed by the common soldiery!'

In [76]:
astring.upper()

'I WILL NOT HAVE MY FRIENDS RIDICULED BY THE COMMON SOLDIERY!'

In [77]:
astring

'I will not have my friends ridiculed by the common soldiery!'

There will be more to say about strings in another part of this course (Printing and Formatting). For a longer list of string methods: https://docs.python.org/3.6/library/stdtypes.html#string-methods

In [78]:
'centered'.center(80, '*')

'************************************centered************************************'

## Set

### From a list

In [79]:
suites = ['hearts', 'spades', 'spades', 'diamonds', 'clubs', 'diamonds']
aset = set(suites)
aset

{'clubs', 'diamonds', 'hearts', 'spades'}

### Instantiation

In [80]:
mammals = {'human', 'ape', 'mongoose'}
fish = {'salmon', 'tuna'}
inanimate = {'computer'}
things_visible = {'rose', 'human', 'tuna', 'rock', 'mongoose', 'water', 'apple'}

### Set methods

In [81]:
mammals.intersection(things_visible)

{'human', 'mongoose'}

In [82]:
things_known = mammals.union(fish.union(inanimate))
things_known

{'ape', 'computer', 'human', 'mongoose', 'salmon', 'tuna'}

In [83]:
things_known.issuperset(things_visible)

False

In [84]:
things_unknown = things_visible.difference(things_known)
things_recognized = things_known.intersection(things_visible)
print('things unknown:', things_unknown)
print(things_recognized)

things unknown: {'rock', 'apple', 'water', 'rose'}
{'human', 'mongoose', 'tuna'}

For more on sets: https://docs.python.org/3.6/library/stdtypes.html#set-types-set-frozenset

## Dictionary

In [85]:
adict = {'one': 1, 'two': 2}
adict

{'one': 1, 'two': 2}

In [86]:
adict.update({'three': 3})
adict

{'one': 1, 'three': 3, 'two': 2}

In [87]:
dict([('zero', 0), ('ft', 42)])

{'ft': 42, 'zero': 0}

In [88]:
bdict = dict(zip(['one', 'two', 'three'], [1, 2, 3]))
bdict

{'one': 1, 'three': 3, 'two': 2}

In [89]:
adict == bdict

True

### Indexing dictionaries

In [90]:
adict['two']

2

In [91]:
adict.get('four', 'Blessed are the greek?!')

'Blessed are the greek?!'

### Dictionary methods

In [92]:
adict.items()

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [93]:
adict.keys()

dict_keys(['one', 'two', 'three'])

In [94]:
adict.values()

dict_values([1, 2, 3])

In [95]:
adict.pop('two')

2

In [96]:
adict

{'one': 1, 'three': 3}

In [97]:
adict.popitem()

('one', 1)

In [98]:
adict

{'three': 3}

For more on dictionaries: https://docs.python.org/3.6/library/stdtypes.html#mapping-types-dict

## Further reading
These topics are not covered in the course, but are worth discovering on your own time.

- Collections, high performance container datatypes https://docs.python.org/3.6/library/collections.html
- Data persistance https://docs.python.org/3.6/library/persistence.html